<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars Website</title>
    <link rel="stylesheet" href="/static/details.css" />
</head>

<body>
    <div class="dynamic-image" style="background-image: url('/api/img/{{ .Car1.Image }}');"></div>

    <div class="container">
        <div class="content">
            <h2>{{ .Car1.Name }}</h2>
            <p><strong>Manufacturer:</strong> {{ .Car1.Manufacturer.Name }}</p>
            <p><strong>Category:</strong> {{ .Car1.Category }}</p>
            <p><strong>Country:</strong> {{ .Car1.Manufacturer.Country }}</p>
            <p><strong>Year:</strong> {{ .Car1.Year }}</p>
            <p><strong>Engine:</strong> {{ .Car1.Specifications.Engine }}</p>
            <p><strong>Horsepower:</strong> {{ .Car1.Specifications.Horsepower }}</p>
            <p><strong>Transmission:</strong> {{ .Car1.Specifications.Transmission }}</p>
            <p><strong>Drivetrain:</strong> {{ .Car1.Specifications.Drivetrain }}</p>
            <br>
            <h2>{{ .Car1.Manufacturer.Name }}</h2>
            <p><strong>Country:</strong> {{ .Car1.Manufacturer.Country }}</p>
            <p><strong>Founded:</strong> {{ .Car1.Manufacturer.FoundingYear }}</p>
            <br>
            <a href="/#mod">←</a>
        </div>
    </div>

    <div class="image-container">
        <img src="/static/logo/{{ .Car1.Manufacturer.Name }}.png" alt="{{ .Car1.Manufacturer.Name }}">
    </div>
</body>

</html>
