.dynamic-image {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    transform: scaleX(-1); /*mirror horizontally*/
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
   
}

.container {
    display: flex;
    align-items: bottom;
    justify-content: flex-start;
    height: 100vh;
    z-index: 1;
    position: relative;
}

.content {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1.5em;
    color: rgb(202, 229, 231);
    padding: 1.5em;
}

h2 {
    color: rgb(155, 194, 196);
    text-shadow: 2px 2px 4px rgba(145, 145, 190, 0.5);
}

a {
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: rgb(202, 229, 231);
}

.image-container {
    position: absolute;
    bottom: 3%;
    right: 3%;
    width: auto;
    height: 33vh;
    max-width: 55vh;
    overflow: hidden;
    opacity: 0.85;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}