<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars Website</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body id="top">
    <header class="top-nav">
        <nav>
            <ul>
                <li><a href="#top">Home</a></li>
                <li><a href="#mod">Models</a></li>
                <li><a href="#manufacturers">Manufacturers</a></li>
                <li><a href="#comparison">Comparison</a></li>

            </ul>
        </nav>
    </header>
    <main class="content-area">
        <section class="content-section" id="home">
            <div class="scrollable-container">
                <form action="/filter" method="post">
                    <div class="filter-container">

                        <!-- Populate with the name values from data.Manufacturers -->
                        <select id="models" name="models">
                            <option value="">Manufacturers {{if ne .Filters.Models ""}}→ {{.Filters.Models}}{{end}}
                            </option>
                            {{ range .Manufacturers }}
                            <option value="{{ .Name }}">{{ .Name }}</option>
                            {{ end }}
                        </select>

                        <!-- Categories, populated with name values from data.Categories -->
                        <select id="categories" name="categories">
                            <option value="">Categories {{if ne .Filters.Categories ""}}→ {{.Filters.Categories}}{{end}}
                            </option>
                            {{ range .Categories }}
                            <option value="{{ .Name }}">{{ .Name }}</option>
                            {{ end }}
                        </select>

                        <select id="year" name="year">
                            <option value="">Year {{if ne .Filters.Year 0}}→ {{.Filters.Year}}{{end}}</option>
                            {{ range .UniqueYears}}
                            <option value="{{ . }}">{{ . }}</option>
                            {{ end }}
                        </select>

                        <select id="country" name="country">
                            <option value="">Country {{if ne .Filters.Country ""}}→ {{.Filters.Country}}{{end}}</option>
                            {{ range .UniqueCountries }}
                            <option value="{{ . }}">{{ . }}</option>
                            {{ end }}
                        </select>

                        <select id="transmission" name="transmission">
                            <option value="">Transmission {{if ne .Filters.Transmission ""}}→
                                {{.Filters.Transmission}}{{end}}</option>
                            <option value="Automatic">Automatic</option>
                            <option value="Manual">Manual</option>
                            <option value="CVT">CVT</option>
                            <!-- добавьте другие варианты двигателя -->
                        </select>

                        <select id="drivetrain" name="drivetrain">
                            <option value="">Drivetrain {{if ne .Filters.Drivetrain ""}}→ {{.Filters.Drivetrain}}{{end}}
                            </option>
                            <option value="Front-Wheel Drive">Front-Wheel Drive</option>
                            <option value="Rear-Wheel Drive">Rear-Wheel Drive</option>
                            <option value="All-Wheel Drive">All-Wheel Drive</option>
                            <!-- добавьте другие варианты привода -->
                        </select>

                    </div>

                    <div class="filter-container">
                        <input type="number" id="engine_from" name="engine_from"
                            placeholder="Engine from, L {{ previouse .Filters.Engine_from }}" step="0.1" min="0">
                        <input type="number" id="engine_to" name="engine_to"
                            placeholder="to: {{ previouse .Filters.Engine_to }}" step="0.1" min="0">
                        <!-- добавьте другие фильтры -->
                    </div>

                    <div class="filter-container">
                        <input type="number" id="horsepower_from" name="horsepower_from"
                            placeholder="Horsepower from: {{ previousp .Filters.Horsepower_from}}" min="0">
                        <input type="number" id="horsepower_to" name="horsepower_to"
                            placeholder="to: {{ previousp .Filters.Horsepower_to}}" min="0">

                        <!-- добавьте другие варианты привода -->

                    </div>

                    <div class="filter-container">
                        <button class="button" type="submit" name="action" value="apply">Apply filter</button>
                        <button class="button" type="submit" name="action" value="reset">Reset</button>
                    </div>

                </form>

                {{ $carCounts := parseCarCounts .Cookies.car_counts }}

                {{ if .Filters.Active }}
                <div class="pups">
                    <p>{{ matches }} filter results:</p>
                </div>
                {{else}}
                <div class="pups">
                    <p>Most common result</p>

                    {{ if $carCounts }}
                    {{ range .Models }}
                    {{ if eq .Id $.MostFrequentModelID }}
                    <img src="/api/img/{{ .Image }}" alt="{{ .Name }}" class="pups-image" />
                    <h3>{{ .Name }}</h3>
                    <p><strong>Filtered:</strong> {{ index $carCounts .Id }} times</p>
                    {{ end }}
                    {{ end }}
                    {{ else }}
                    <p>No data available.</p>
                    {{ end }}
                </div>
                {{ end }}

                    <div class="models-container">
                        {{ range .Models }}
                        {{ if in .Id $.Result }}
                        <div class="model-item">
                            <form action="/fetch" method="post">
                                <div class="image-container">
                                    <input type="hidden" name="model_id" value="{{ .Id }}">
                                    <button type="submit" class="image-container">
                                        <img src="/api/img/{{ .Image }}" alt="{{ .Name }}" />
                                        <div class="specs-overlay">
                                            <p><strong>Engine:</strong> {{ .Specifications.Engine }}</p>
                                            <p><strong>Horsepower:</strong> {{ .Specifications.Horsepower }} hp</p>
                                            <p><strong>Transmission:</strong> {{ .Specifications.Transmission }}</p>
                                            <p><strong>Drivetrain:</strong> {{ .Specifications.Drivetrain }}</p>
                                        </div>
                                    </button>
                                </div>
                            </form>
                            <h3>{{ .Name }}</h3>
                        </div>
                        {{ end }}
                        {{ end }}
                    </div>

            </div>
        </section>
        <div class="section-separator"></div>
        <section class="content-section" id="mod">

                <h1>Models</h1>
                <div class="scrollable-container">
                <div class="models-container">
                    {{ range .Models }}
                    <div class="model-item">
                        <!-- Use a form with hidden input fields to submit the model ID -->
                        <form action="/fetch" method="post">
                            <div class="image-container">
                                <input type="hidden" name="model_id" value="{{ .Id }}">
                                <button type="submit" class="image-container">
                                    <img src="/api/img/{{ .Image }}" alt="{{ .Name }}" />
                                    <div class="specs-overlay">
                                        <p><strong>Engine:</strong> {{ .Specifications.Engine }}</p>
                                        <p><strong>Horsepower:</strong> {{ .Specifications.Horsepower }} hp</p>
                                        <p><strong>Transmission:</strong> {{ .Specifications.Transmission }}</p>
                                        <p><strong>Drivetrain:</strong> {{ .Specifications.Drivetrain }}</p>
                                    </div>
                                </button>
                            </div>
                        </form>
                        <h3>{{ .Name }}</h3>
                    </div>
                    {{ end }}

                </div>
                </div>
        </section>

        <div class="section-separator"></div>
        <section class="content-section" id="manufacturers">
            <div>
                <h1>Manufacturers</h1>
                <div class="row">
                    {{ range .Manufacturers }}
                    <div class="card">
                        <div class="card-background" style="background-image: url('/static/flag/{{ .Country }}.png');">
                        </div>
                        <div class="card-content">
                            <h3>{{ .Name }}</h3>
                            <p>Country: {{ .Country }}</p>
                            <p>Founded: {{ .FoundingYear }}</p>
                        </div>
                        <div class="image-container-card">
                            <img src="/static/logo/{{ .Name }}.png" alt="{{ .Name }} Logo">
                        </div>
                    </div>
                    {{ end }}
                </div>

            </div>
        </section>

        <div class="section-separator"></div>
        <section class="content-section" id="comparison">
            <div style="height: calc(100vh - 40px)">
                <h1>Car comparison</h1>
                <form action="/compare#comparison" method="post">
                    <div class="comparison-container">
                        <div class="column">

                            <label for="car1">Select First Car:</label><br>

                            <select class="select-car" id="car1" name="car1">
                                {{ range .Models }}
                                <option value="{{ .Id }}">{{ .Name }}</option>
                                {{ end }}
                            </select>
                        </div>
                        <div class="column">
                            <label for="car2">Select Second Car:</label><br>

                            <select class="select-car" id="car2" name="car2">
                                {{ range .Models }}
                                <option value="{{ .Id }}">{{ .Name }}</option>
                                {{ end }}
                            </select>
                        </div>

                    </div>
                    <div>
                        <button class="but" type="submit">Compare</button>
                    </div>
                </form>

                {{ if .Compare }}
                <div class="result">
                    <table class="main-table" id="table-container">
                        <thead>
                            <tr>
                                <th>Characteristic</th>
                                <th>{{ .Car1.Name }}</th>
                                <th>{{ .Car2.Name }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Строка с изображениями -->
                            <tr class="image-row">
                                <td></td>
                                <td>
                                    <img src="/api/img/{{ .Car1.Image }}" alt="{{ .Car1.Name }}"
                                        style="width: auto; height: 150px;">
                                </td>
                                <td>
                                    <img src="/api/img/{{ .Car2.Image }}" alt="{{ .Car2.Name }}"
                                        style="width: auto; height: 150px;">
                                </td>
                            </tr>
                            <tr>
                                <td>Manufacturer</td>
                                <td>{{ .Car1.Manufacturer.Name }}</td>
                                <td>{{ .Car2.Manufacturer.Name }}</td>
                            </tr>
                            <tr>
                                <td>Country</td>
                                <td>{{ .Car1.Manufacturer.Country }}</td>
                                <td>{{ .Car2.Manufacturer.Country }}</td>
                            </tr>
                            <tr>
                                <td>Year</td>
                                <td>{{ .Car1.Year }}</td>
                                <td>{{ .Car2.Year }}</td>
                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>{{ .Car1.Specifications.Engine }}</td>
                                <td>{{ .Car2.Specifications.Engine }}</td>
                            </tr>
                            <tr>
                                <td>Horsepower</td>
                                <td>{{ .Car1.Specifications.Horsepower }}</td>
                                <td>{{ .Car2.Specifications.Horsepower }}</td>
                            </tr>
                            <tr>
                                <td>Transmission</td>
                                <td>{{ .Car1.Specifications.Transmission }}</td>
                                <td>{{ .Car2.Specifications.Transmission }}</td>
                            </tr>
                            <tr>
                                <td>Drivetrain</td>
                                <td>{{ .Car1.Specifications.Drivetrain }}</td>
                                <td>{{ .Car2.Specifications.Drivetrain }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div class="icon-container">
                        <i class="fas fa-copy icon" onclick="copyTable()"></i>
                        <i class="fas fa-download icon" onclick="downloadTableText()"></i>
                    </div> -->
                    <div>
                        <pre class="copyT" id="finaly">{{ generateTableText }}</pre>
                    </div>
                    <table class="difference-table">
                        <thead>
                            <tr>
                                <th>Difference</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Engine size difference</td>
                                <td>{{ .Diff.Engine }}</td>
                            </tr>
                            <tr>
                                <td>Power difference</td>
                                <td>{{ .Diff.Hp }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="icon-container">
                        <i class="fas fa-copy icon" onclick="copyTable()"></i>
                        <i class="fas fa-download icon" onclick="downloadTableText()"></i>
                    </div>
                </div>
                {{ end }}

            </div>
            <script>
                function copyTable() {
                    const range = document.createRange();
                    range.selectNode(document.getElementById('finaly'));
                    window.getSelection().removeAllRanges();
                    window.getSelection().addRange(range);
                    document.execCommand('copy');
                    alert('Table copied to clipboard!');
                }

                function downloadTableText() {
                    window.location.href = '/download';
                }
            </script>
        </section>


    </main>
    <div class="section-separator"></div>
    <footer class="site-footer">

        <p class="copyright-text">
            © 2024 Simple Website. All Rights Reserved.
        </p>

    </footer>
</body>

</html>